
/*! * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/) * Copyright 2013-2016 Start Bootstrap * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE) */
body
{
    overflow-x: hidden;
    padding-top: 70px;
    background-color: #ebebeb;
}

/* Toggle Styles */
#wrapper
{
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled
{
    padding-left: 200px;
}

#sidebar-wrapper
{
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #2c3e50;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper
{
    width: 200px;
}

#page-content-wrapper
{
    width: 500%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper
{
    position: absolute;
    margin-right: -200px;
}

.pull-left {
  margin-left: 20px;
}

.navbar-toggle {
    display: block;
}

/* Sidebar Styles */
.sidebar-nav
{
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav p, h1, h2, h3, h4, h5, h6
{
    color: #18bc9c;
}

.sidebar-nav li
{
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a
{
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover
{
    text-decoration: none;
    color: #18bc9c;
}

li a.activer
{
    color: #18bc9c;
}

.sidebar-nav li a:active,.sidebar-nav li a:focus
{
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand
{
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a
{
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover
{
    color: #ffffff;
    background: none;
}

@media(min-width:768px)
{
    #wrapper
    {
        padding-left: 250px;
    }

    #wrapper.toggled
    {
        padding-left: 0;
    }

    #sidebar-wrapper
    {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper
    {
        width: 0;
    }

    #page-content-wrapper
    {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper
    {
        position: relative;
        margin-right: 0;
    }
}

.point
{
    cursor: pointer;
}

.text-decoration
{
    text-decoration: none;
}

.jegue-margin {
  margin-top: 5%;
  margin-left: 37%;
}

.jegue-loading
{
  height: 100px;
  width: 100px;
}

.avatar-md
{
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.avatar-sm
{
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.avatar-xs
{
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.slide-image
{
    width: 100%;
}

.carousel-holder
{
    margin-bottom: 30px;
}

.carousel-control,.item
{
    border-radius: 4px;
}

.caption
{
    height: 130px;
    overflow: hidden;
}

.caption h4
{
    white-space: nowrap;
}

.thumbnail img
{
    width: 100%;
}

.ratings
{
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail
{
    padding: 0;
}

.thumbnail .caption-full
{
    padding: 9px;
    color: #333;
}

footer
{
    margin: 50px 0;
}

.portfolio-item
{
    margin-bottom: 25px;
}

.search-input:focus
{
  border: 2px solid #18bc9c;
}

/*Modal Login CSS*/

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #18bc9c;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.addComment {
    margin-bottom: 20px;
}

.login-box {
  margin: 7% auto auto auto;
  width: 400px;
  height: 450px;
  box-shadow: 5px 5px 20px 6px #b5b6bc;
}

.upload-box {
  margin: 4% auto auto auto;
  width: 400px;
  height: 500px;
  box-shadow: 5px 5px 20px 6px #b5b6bc;
}

.upload-id-box {
  margin: 4% auto auto auto;
  width: 400px;
  height: 330px;
  box-shadow: 5px 5px 20px 6px #b5b6bc;
}

.register-box {
  margin: 7% auto auto auto;
  width: 400px;
  height: 600px;
  box-shadow: 5px 5px 20px 6px #b5b6bc;
}

.form {
  padding: 30px 50px 0 50px;
}

.custom-button-register {
  margin: 30px 13%;
  padding: 5px 26%;
  background-color: #18bc9c;
}

.button-upload {
  padding: 5px 23%;
  background-color: #18bc9c;
  margin: 30px 13% -1%;
}

textarea {
  resize: none;
}

.custom-button-login {
  margin: 30px 13%;
  padding: 5px 31%;
  background-color: #18bc9c;
}

.custom-button-upload {
  background-color: #18bc9c;
  padding: 25px 50px;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  margin: -1% 13% 30px;
}

.header {
  text-align: center;
  padding: 40px 0 0 0;
}

.warning {
  text-align: center;
  margin-bottom: 20px;
  color: red;
}

.channel {
  padding-top: 9%;
}

.user-image-offset {
  margin-left: 50%;
}

.text-user-space {
  margin-top: -4%;
  margin-left: 155%;
  color: white;
  font-size: 20px;
}

.negative-text {
  margin-left:-6%;
}

.name-font {
  font-size: 40px;
}

.subs-font {
  font-size: 19px;
}

#bannerimage {
  width: 100%;
  background: url("../../assets/icons/Singleton.jpeg") center no-repeat;
  background-size: cover;
  height: 250px;
  margin-top: -1%;
}

.file-position {
  margin-top: 5%;
  margin-left: 19%;
}

.vide-space {
  margin-left: 20%;
}
