<template>
  <div>
    <section id="bannerimage">
      <div class="channel">
        <div class="row">
          <div class="col-md-4">
            <img class="avatar-md user-image-offset" src="../assets/icons/perfil.jpg">
          </div>
          <div class="col-md-6 negative-text">
            <br><br><br><br>
            <p class="name-font">{{ description }}</p>
            <b class="subs-font">{{ username }}</b><br>
            <b class="subs-font">Inscritos: 0</b>
          </div>
          <div class="col-md-2">
            <br>
            <router-link to="upload">
              <button class="btn custom-button-upload btn-lg" type="button">
                <span class="fa fa-upload"></span> Upload
              </button>
            </router-link>
          </div>
        </div>
        <br><br><br><br><br><br>
        <div class="row vide-space">
          <div class="col-sm-3 portfolio-item col-md-3 portfolio-item col-lg-3 portfolio-item" v-for="video in videos">
            <router-link :to="'video/'+video.id">
              <img class="img-responsive" :src="video.thumbnail" alt="">
              <h4>{{ video.name }}</h4>
            </router-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import HorizontalDisplay from './HorizontalDisplay'
  import api from '../config/api'

  export default {
    name: 'channel',
    components: {
      HorizontalDisplay
    },
    data () {
      return {
        username: '',
        description: '',
        videos: []
      }
    },
    methods: {
      fetchChannel () {
        this.fetching = true
        this.$http.get(api.channel + '/' + this.$store.state.user.username)
          .then(function (data) {
            console.log(data)
            const { user } = data.body
            const { videos } = data.body
            this.username = user.username
            this.description = user.description
            this.videos = videos
          }, function (error) {
            console.log(error)
          })
      }
    },
    mounted () {
      this.fetchChannel()
    }
  }
</script>
