<template>
  <div>
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9">
        <h1 class="page-header">
          <router-link :to="url">
            {{title}}
          </router-link>
          <small v-show="subscribeable">
            <h5 class="pull-right">
              <a href="#" class="btn btn-success btn-xs"><i class="fa fa-youtube-play" aria-hidden="true"></i> Inscrever</a>
            </h5>
          </small>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 portfolio-item col-md-3 portfolio-item col-lg-3 portfolio-item" v-for="suggested in videos">
        <router-link :to="'video/'+suggested.id">
          <img class="img-responsive" :src="suggested.thumbnail" alt="">
          <h4>{{ suggested.name }}</h4>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'horizontal-display',
    props: ['title', 'subscribeable', 'videos', 'url']
  }
</script>



