<!--suppress HtmlUnknownTag -->
<template>
  <form autocomplete="off">
    <div class="login-box" v-on:keypress.enter.prevnt="getUser">
      <div class="header">
        <h4>Faça o login</h4>
      </div>
      <main>
        <div class="form">
          <input type="email" name="text" class="form-control" v-model="email" placeholder="Email"/>
        </div>
        <div class="form">
          <input type="password" name="pass" class="form-control" v-model="userPass" placeholder="Senha"/>
        </div>
        <div>
          <button class="btn custom-button-login" @click="getUser" :disabled="!canExecute()" type="button"
                  name="btn-login">Entrar
          </button>
        </div>
        <div class="warning">
          <strong>{{error}}</strong>
        </div>
        <a class="text-center" style="display: block;" href="#">Esqueceu sua senha?</a>
      </main>
    </div>
  </form>
</template>
<script>
  import HorizontalDisplay from './HorizontalDisplay'
  import api from '../config/api'
  import {parseLoginError} from '../config/errors'

  export default {
    name: 'login',
    components: {
      HorizontalDisplay
    },
    data () {
      return {
        email: '',
        userPass: '',
        fetching: false,
        userToken: '',
        error: ''
      }
    },
    methods: {
      getUser: function () {
        this.fetching = true
        this.$http.post(api.login, {
          email: this.email,
          password: this.userPass
        }).then(function (data) {
          this.fetching = false
          this.$store.commit('login', data.data.user)
          this.error = ''
          window.location.href = '../'
        }.bind(this), function (error) {
          this.fetching = false
          this.error = parseLoginError(error.data.error)
        }.bind(this))
      },
      canExecute () {
        return this.email.length && this.userPassSize() && !this.fetching
      },
      userPassSize () {
        return this.userPass.length >= 3
      }
    }
  }
</script>
