<template>
  <p>Saindo</p>
</template>
<script>
  export default {
    data () {
      return {}
    },
    mounted () {
      this.logout()
    },
    methods: {
      logout () {
        this.$store.commit('logout')
        window.location = '../'
      }
    }
  }
</script>
