<!--suppress HtmlUnknownTag -->
<template>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar" v-on:click="toggleMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <router-link to="/">
        <a class="navbar-brand" href="#">&emsp;JegueStreaming&emsp;</a>
        <a class="navbar-brand">&emsp;</a>
      </router-link>
    </div>
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <form class="navbar-form" role="search">
            <div
              v-bind:class="focused ? ['input-group col-sm-12', 'col-md-12', 'col-lg-12'] : ['input-group col-sm-6', 'col-md-6', 'col-lg-6']">
              <input class="search-input form-control" placeholder="Pesquisar" name="q" v-on:focus="toggleFocus"
                     v-on:blur="toggleFocus">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
            <div v-if="userState">
              <b><p class="text-user-space">{{username}}</p></b>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="wrapper" v-bind:class="{toggled: isToggled}">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <router-link to="/">
            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>&emsp;Home</a></li>
          </router-link>
          <div v-if="userState">
            <router-link to="/channel">
              <li><a href="#"><i class="fa fa-desktop" aria-hidden="true"></i>&emsp;Meu Canal</a></li>
            </router-link>
            <router-link to="/logout">
              <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>&emsp;Sair</a></li>
              <hr/>
            </router-link>
          </div>
          <div v-else>
            <router-link to="/login">
              <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>&emsp;Entrar</a></li>
            </router-link>
            <router-link to="/register">
              <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>&emsp;Registrar-se</a></li>
              <hr/>
            </router-link>
          </div>
          <li><a href="#"><img src="../assets/icons/music.jpg" class="avatar-xs">  Musica</a></li>
          <li><a href="#"><img src="../assets/icons/sport.jpg" class="avatar-xs">  Esporte</a></li>
          <li><a href="#"><img src="../assets/icons/game.jpg" class="avatar-xs">  Games</a></li>
          <li><a href="#"><img src="../assets/icons/movie.jpg" class="avatar-xs">  Filmes</a></li>
          <li><a href="#"><img src="../assets/icons/actual.jpg" class="avatar-xs">  Atualidades</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
  export default {
    name: 'main-navbar',
    data () {
      return {
        isToggled: false,
        searchWidth: 20,
        focused: false,
        showModal: false
      }
    },
    computed: {
      userState () {
        return this.$store.state.user
      },
      username () {
        return this.$store.state.user.username
      }
    },
    methods: {
      toggleMenu () {
        this.isToggled = !this.isToggled
      },
      toggleFocus () {
        this.focused = !this.focused
      }
    }
  }
</script>

