<template>
  <div class="containter">
    <form method="post" action="" autocomplete="off">
      <div class="register-box" v-on:keypress.enter.prevnt="getUser">
        <div class="header">
          <h4>Registrar uma nova conta</h4>
        </div>
        <main>
          <div class="form">
            <input type="text" name="text" class="form-control" v-model="username" placeholder="Usuário"/>
          </div>
          <div class="form">
            <input type="text" name="text" class="form-control" v-model="description" placeholder="Nome completo"/>
          </div>
          <div class="form">
            <input type="email" name="email" class="form-control" v-model="email" placeholder="Email"/>
          </div>
          <div class="form">
            <input type="password" name="pass" class="form-control" v-model="password" placeholder="Senha"/>
          </div>
          <div class="form">
            <input type="password" name="pass-confirmation" class="form-control" v-model="passwordConfirmation"
                   placeholder="Confirmar senha"/>
          </div>
          <div>
            <button class="btn custom-button-register" type="button" @click="getUser" :disabled="!canExecute()"
                    name="btn-register">Registrar-se
            </button>
            <div class="warning">
              <strong>{{error}}</strong>
            </div>
          </div>
        </main>
      </div>
    </form>
  </div>
</template>

<script>
  import HorizontalDisplay from './HorizontalDisplay'
  import api from '../config/api'
  import {parseRegisterError} from '../config/errors'

  export default {
    name: 'register',
    components: {
      HorizontalDisplay
    },
    data () {
      return {
        username: '',
        description: '',
        email: '',
        password: '',
        passwordConfirmation: '',
        error: '',
        fetching: false
      }
    },
    methods: {
      getUser: function () {
        this.fetching = true
        this.$http.post(api.register, {
          username: this.username,
          email: this.email,
          password: this.password,
          password_confirmation: this.passwordConfirmation,
          description: this.description
        }).then(function (data) {
          this.fetching = false
          this.$store.commit('login', data.data.user)
          this.error = ''
          window.location.href = '../'
        }.bind(this), function (error) {
          this.fetching = false
          this.error = parseRegisterError(error.data.error)
          console.log(error)
        }.bind(this))
      },
      canExecute () {
        return this.email.length && this.username.length && this.passwordSize() && this.passwordComparation() && !this.fetching
      },
      passwordSize () {
        return this.password.length >= 3
      },
      passwordComparation () {
        return this.password === this.passwordConfirmation
      }
    }
  }
</script>
