<template>
  <div class="container col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
    <horizontal-display title="Recomendados" :videos="suggested" url=""></horizontal-display>
    <horizontal-display v-for="channel in channels" :title="channel.username" subscribeable="true" :videos="channel.videos" :url="'users/' + channel.username"></horizontal-display>
  </div>
</template>

<script>
  import HorizontalDisplay from './HorizontalDisplay'
  import api from '../config/api'

  export default {
    name: 'trending',
    components: {
      HorizontalDisplay
    },
    data () {
      return {
        suggested: [],
        channels: []
      }
    },
    methods: {
      fetch () {
        this.fetching = true
        this.$http.get(api.home)
          .then(function (data) {
            console.log(data)
            this.suggested = data.body.suggested_videos
            this.channels = data.body.suggested_channels
          }, function (error) {
            console.log(error)
          })
      }
    },
    mounted () {
      this.fetch()
    }
  }
</script>
