<template>
  <div class="containter">
    <form autocomplete="off">
      <div class="upload-box" v-on:keypress.enter.prevnt="getVideo" :disabled="!validadeParam()">
        <div class="header">
          <h4>Upload de Vídeo</h4>
        </div>
        <main>
          <div class="form">
            <input type="text" name="text" class="form-control" v-model="videoName" placeholder="Vídeo"/>
          </div>
          <div class="form">
            <textarea name="text" class="form-control" v-model="videoDescription" placeholder="Descrição"></textarea>
          </div>
          <div class="form">
            <textarea name="text" class="form-control" v-model="videoTag"
                      placeholder="Adicione as tags do vídeo separando-as por vírgula"></textarea>
          </div>
          <div>
            <button class="btn custom-button-login" type="button" @click="getVideo" :disabled="!validadeParam()" name="btn-login">Upload</button>
          </div>
          <div class="warning">
            <strong>{{error}}</strong>
          </div>
        </main>
      </div>
    </form>
  </div>
</template>
<script>
  import HorizontalDisplay from './HorizontalDisplay'
  import api from '../config/api'
  import {parseVideoError} from '../config/errors'

  export default {
    name: 'upload',
    components: {
      HorizontalDisplay
    },
    data () {
      return {
        videoName: '',
        videoDescription: '',
        videoTag: '',
        videoCategory: 1,
        error: ''
      }
    },
    methods: {
      getVideo: function () {
        this.fetching = true
        this.$http.post(api.video, {
          name: this.videoName,
          tags: this.videoTag.split([', ', ',']),
          description: this.videoDescription,
          category_id: this.videoCategory
        }, {
          headers: {
            'X-token': this.$store.state.user.remember_token,
            'Accept': 'application/json'
          }
        }).then(function (data) {
          this.fetching = false
          window.location = '/#/upload/' + data.data.id
          this.error = ''
        }.bind(this), function (error) {
          this.fetching = false
          this.error = parseVideoError(error.data.error)
        }.bind(this))
      },
      validadeParam: function () {
        return this.videoName.length > 0 && this.videoDescription.length > 0 && this.videoTag.length > 0
      }
    }
  }
</script>
