<template>
  <div class="containter">
    <form autocomplete="off">
      <div class="upload-id-box" v-on:keypress.enter.prevnt="getVideo">
        <div class="header">
          <h4>Escolha o arquivo a ser enviado</h4>
        </div>
        <main>
          <div>
            <input class="file-position" type="file" id="files" name="files" @change="onChangeFiles"
                   accept="video/mp4"/>
            <output id="list"></output>
          </div>
          <div v-if="fetching" class="jegue-margin">
            <img class="jegue-loading" src="../assets/icons/jegue.gif">
          </div>
          <div>
            <button class="btn button-upload" type="button" @click="sendVideo" name="btn-login" :disabled="fetching">
              Enviar o vídeo!
            </button>
          </div>
        </main>
      </div>
    </form>
  </div>
</template>

<script>
  import api from '../config/api'
  import {parseVideoUploadError} from '../config/errors'

  export default {
    name: 'upload-video',
    data () {
      return {
        videoID: '',
        fileInput: '',
        fetching: false
      }
    },
    mounted () {
      this.videoID = this.$router.currentRoute.params.id
    },
    methods: {
      sendVideo () {
        this.fetching = true
        let formData = new FormData()
        formData.append('video', this.fileInput)
        this.$http.post(api.video + '/' + this.videoID, formData, {
          headers: {
            'X-token': this.$store.state.user.remember_token
          }
        })
          .then(function () {
            this.fetching = false
            window.location = '../'
            this.error = ''
          }, function (error) {
            this.error = parseVideoUploadError(error.data.error)
            this.fetching = false
            this.error = ''
          })
      },
      onChangeFiles (e) {
        this.fileInput = e.target.files[0]
      },
      canSend () {
        return this.fileInput.name > 0
      }
    }
  }
</script>
