<template>
  <div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1>{{ name }}</h1>
      <p>{{ description }}</p>
      <br>
      <div
        class="embed-responsive embed-responsive-16by9">
        <d-player class="embed-responsive-item"
                  :video="video"
                  :autoplay="true"
                  :contextmenu="contextmenu"
                  :screenshot="true"
                  :loop="false"
                  ref="player"
        ></d-player>
      </div>
    </div>
    <div class="row">
        <div class="col-md-8">
          <div class="page-header">
            <h1> Comentários </h1>
          </div>
          <div>

          </div>
          <div class="comments-list">
            <div class="media">
              <a class="media-left" href="#">
                <img class="avatar-sm" src="../assets/icons/perfil.jpg">
              </a>
              <div class="media-body">
                 <input class="form-control input-sm addComment" id="inputsm" type="text" placeholder="Adicionar Comentário">
              </div>
            </div>
            <div class="media">
                <p class="pull-right"><small>5 dias atrás</small></p>
                <a class="media-left" href="#">
                  <img class="avatar-sm" src="../assets/icons/perfil.jpg">
                </a>
                <div class="media-body">
                  <h4 class="media-heading user_name">Brendo Peres</h4>
                  Que vídeo sensacional.
                  <p><small><a href="">Joinha</a></small></p>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
  import VueDPlayer from 'vue-dplayer'
  import api from '../config/api'

  export default {
    components: {
      'd-player': VueDPlayer
    },
    data () {
      return {
        name: '',
        description: '',
        videoID: '',
        video: {
          url: '',
          pic: ''
        },
        player: null,
        contextmenu: [
          {
            text: 'JegueStreaming',
            link: '../'
          }
        ]
      }
    },
    methods: {
      play () {},
      fetchVideo () {
        this.fetching = true
        this.$http.get(api.video + '/' + this.videoID)
          .then(function (data) {
            const { video } = data.body
            this.name = video.name
            this.description = video.description
            this.player.switchVideo({
              url: video.playable,
              pic: video.thumbnail
            })
            this.fetching = false
          }, function (error) {
            console.log(error)
          })
      }
    },
    mounted () {
      this.player = this.$refs.player.dp
      this.videoID = this.$router.currentRoute.params.id
      this.fetchVideo()
    }
  }
</script>


